debug:
  local_log: false
meme:
  channel_group_id: -1
  channel_id: -2
  channel_tag: ''
  comments: true
  group_id: -3
  n_votes: 1
  remove_after_h: 12
  reset_on_load: false
  tag: false
  report_wait_mins: 30
test:
  api_hash: ''
  api_id: -1
  session: ''
  bot_tag: ''
  token: ''
token: ''
bot_tag: ''
