debug:
  local_log: false
meme:
  channel_group_id: 0
  channel_id: 0
  comments: true
  group_id: 0
  n_votes: 1
  remove_after_h: 12
  reset_on_load: false
test:
  api_hash: ''
  api_id: -1
  session: ''
  tag: ''
  token: ''
token: ''