# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Development

on:
  pull_request:
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"
  push:
    branches-ignore: [upgrade]
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
      - name: Setup enviroment
        run: |
          mv config/settings.yaml.default config/settings.yaml
          mv data/yaml/reactions.yaml.default data/yaml/reactions.yaml
      - name: Lint with pylint
        run: |
          pylint main.py modules
      - name: Test with pytest
        run: |
          pytest tests/unit/
